<body>
    <div class="row">
        <div class="col-sm-9 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h2 class="text-center">Login Page</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="container">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <mat-form-field class="formInput-Full">
                                        <mat-label>Username</mat-label>
                                        <input matInput type="text" formControlName="username" placeholder="Username *">
                                        <mat-error *ngIf="submitted && form.username.errors">Username is
                                            <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <label for="username" class="col-sm-4 col-form-label">Username</label>
                                    <input type="text" id="username" formControlName="username" class="form-control"
                                        placeholder="Username" required autofocus
                                        [ngClass]="{'is-invalid': submitted && form.username.errors}">
                                    <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
                                        <div *ngIf="form.username.errors.required"> Username is required</div>
                                    </div> -->
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <mat-form-field class="formInput-Full">
                                        <mat-label>Password</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                                            placeholder="Password *">
                                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off':'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="submitted && form.password.errors">Password is
                                            <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- <label for="password" class="col-sm-4 col-form-label">Password</label>
                                <div class="col-sm-8">
                                    <input type="password" id="password" formControlName="password" class="form-control"
                                        placeholder="Password" required
                                        [ngClass]="{'is-invalid': submitted && form.password.errors}">
                                    <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                                        <div *ngIf="form.password.errors.required"> Password is required</div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="form-group row text-center">
                                <div class="col">
                                    <button class="btn btn-sm btn-primary btn-block text-uppercase"
                                        type="submit">Login</button>
                                </div>
                                <div class="col">
                                    <a routerLink="/registration"
                                        class="btn btn-sm btn-primary btn-block text-uppercase">Register</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>