<nav class="navbar navbar-default navbar-dark bg-dark" *ngIf="loggedUser">
    <ul class="nav navbar-nav">
        <li><a class="nav-link navbar-brand" (click)="homeRedirect()">Home</a></li>
    </ul>
    <!-- <ul class="nav navbar-nav navbar-center">
        <li><a class="nav-link navbar-brand" routerLink='/addQuestions'
                *ngIf="loggedUser && loggedUser.role === 'Admin'">Add Questions</a></li>
    </ul> -->
    <ul class="nav navbar-nav navbar-right">
        <li> <a class="nav-link navbar-brand" (click)="logout()">Logout</a></li>
    </ul>
</nav>

<div class="row background" *ngIf="loggedUser && !loggedUser.isEditMode">
    <div class="col-md-2 colCenter">
        <h6>Id: {{loggedUser.id}}</h6>
    </div>
    <div class="col-md-2 colCenter">
        <h6>User: {{loggedUser.name}}</h6>
    </div>
    <div class="col-md-2 colCenter">
        <h6>Role: <b class="highlight">{{loggedUser.role}}</b></h6>
    </div>
    <div class="col-md-2 colCenter">
        <h6>Company: {{loggedUser.companyName}}</h6>
    </div>
    <div class="col-md-2 colCenter">
        <h6>Email: {{loggedUser.emailAddress}}</h6>
    </div>
    <div class="col-md-2 colCenter">
        <h6><a class="nav-link" (click)="editUser()">Edit</a></h6>
    </div>
</div>
<!-- {{loggedUser|json}} -->

<div class="app-container" [ngClass]="{'bg-light': loggedUser}">
    <!-- <div class="container"> -->
    <alert></alert>
    <router-outlet></router-outlet>
    <!-- </div> -->
</div>