<div class="col-sm-9 col-lg-11 mx-auto">
    <div class="card">
        <h5 class="card-header text-center"><b>Questions - Configurations</b></h5>

        <div class="card-body" *ngIf="addMode">
            <form name="form" #addForm="ngForm" (ngSubmit)="addForm.form.valid && onSubmit()">
                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" name="question" placeholder="Type your question here *"
                            class="form-control form-control-sm" [(ngModel)]="currentQuestion.question"
                            #question="ngModel" [ngClass]="{'is-invalid': addForm.submitted && question.invalid}"
                            required>
                        <div *ngIf="addForm.submitted && question.invalid" class="invalid-feedback">
                            <div *ngIf="question.errors.required">Question is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" name="option1" placeholder="Option 1 *" class="form-control form-control-sm"
                            [(ngModel)]="currentQuestion.option1" #option1="ngModel"
                            [ngClass]="{'is-invalid': addForm.submitted && option1.invalid}" required>
                        <div *ngIf="addForm.submitted && option1.invalid" class="invalid-feedback">
                            <div *ngIf="option1.errors.required">Option 1 is required</div>
                        </div>
                    </div>

                    <div class="form-group col">
                        <input type="text" name="option2" placeholder="Option 2 *" class="form-control form-control-sm"
                            [(ngModel)]="currentQuestion.option2" #option2="ngModel"
                            [ngClass]="{'is-invalid': addForm.submitted && option2.invalid}" required>
                        <div *ngIf="addForm.submitted && option2.invalid" class="invalid-feedback">
                            <div *ngIf="option2.errors.required">Option 2 is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" name="option3" placeholder="Option 3 *" class="form-control form-control-sm"
                            [(ngModel)]="currentQuestion.option3" #option3="ngModel"
                            [ngClass]="{'is-invalid': addForm.submitted && option3.invalid}" required>
                        <div *ngIf="addForm.submitted && option3.invalid" class="invalid-feedback">
                            <div *ngIf="option3.errors.required">Option 3 is required</div>
                        </div>
                    </div>

                    <div class="form-group col">
                        <input type="text" name="option4" placeholder="Option 4 *" class="form-control form-control-sm"
                            [(ngModel)]="currentQuestion.option4" #option4="ngModel"
                            [ngClass]="{'is-invalid': addForm.submitted && option4.invalid}" required>
                        <div *ngIf="addForm.submitted && option4.invalid" class="invalid-feedback">
                            <div *ngIf="option4.errors.required">Option 4 is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <select name="course" placeholder="Course" class="form-control form-control-sm"
                            placeholder="Select Course" [(ngModel)]="currentQuestion.language" #course="ngModel"
                            [ngClass]="{'is-invalid': addForm.submitted && course.invalid}"
                            [disabled]="currentQuestion.id > 0" required>
                            <option value="">Course</option>
                            <option *ngFor="let exam of examListDropdown" [value]="exam">
                                {{exam}}
                            </option>
                        </select>
                        <div *ngIf="addForm.submitted && course.invalid" class="invalid-feedback">
                            <div *ngIf="course.errors.required">Course is required</div>
                        </div>
                    </div>

                    <div class="form-group col">
                        <input type="text" name="correctAnswer" placeholder="Correct Answer *"
                            class="form-control form-control-sm" [(ngModel)]="currentQuestion.correctAnswer"
                            #correctAnswer="ngModel"
                            [ngClass]="{'is-invalid': addForm.submitted && correctAnswer.invalid}" required>
                        <div *ngIf="addForm.submitted && correctAnswer.invalid" class="invalid-feedback">
                            <div *ngIf="correctAnswer.errors.required">Correct Answer is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group col text-center">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button class="btn btn-danger" (click)="clearQuestion()">Clear</button>
                    <button class="btn btn-danger" (click)="cancelQuestion()">Cancel</button>
                </div>
            </form>
        </div>

        <div class="card-body" *ngIf="!addMode">
            <div *ngFor="let ques of questionsListDatabase; index as i;">
                <div class="d-flex form-row">
                    <strong>{{i+1}}. {{ques.question}}</strong></div>
                <div class="d-flex form-row row horizontal-li">
                    <div class="col aquaColor">{{ques.language}}</div>
                    <div class="col horizontal-li" *ngFor="let item of ques.optionList; index as j;">
                        <span [ngClass]="(ques.correctAnswer === item)? 'greenColor':''">{{item}}</span>
                        <!-- {{j+1}}. -->
                    </div>
                    <div class="col horizontal-li">
                        <a class="btn btn-link" (click)="editQuestion(ques)">Edit</a>
                        <a class="btn btn-link" (click)="deleteQuestion(ques)">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body" *ngIf="!addMode">
            <div class="form-row text-center">
                <div class="col">
                    <button class="btn btn-success" (click)="addQuestion()">Add Question</button>
                </div>
            </div>
        </div>
    </div>
</div>